<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Edit Account Information</title>
</head>
<body class="container">
<center>
<h1>Edit Account Information</h1>
<br>
<form method="post">
    <div class="form-floating w-25">
            <input th:field="${editInfoDTO.username}" class="form-control" id="floatingName" placeholder="Username">
            <label for="floatingName">Username</label>
        <p class="error" th:errors="${editInfoDTO.username}"></p>
    </div>
    <div class="form-floating w-25">
            <input th:field="${editInfoDTO.email}" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        <p class="error" th:errors="${editInfoDTO.email}"></p>
    </div>
    <br>
    <div class="form-floating w-25">
        <p>Password: <a href="./edit-password">Change password</a></p>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Update account" class="btn btn-success">
    </div>
</form>
</center>
</body>
</html>