<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Edit Account Password</title>
</head>
<body class="container">
<nav>
    <header th:replace="fragments :: navigation"></header>
</nav>
<br>
<center>
<h1>Edit Account Password</h1>
<br>
<form method="post">
    <div class="form-floating w-25">
            <input th:field="${editPasswordDTO.currentPassword}" class="form-control" type="password" id="floatingCurrentPassword" placeholder="Enter current password">
            <label for="floatingCurrentPassword">Enter current password</label>
        <p class="error" th:errors="${editPasswordDTO.currentPassword}"></p>
    </div>
    <div class="form-floating w-25">
        <input th:field="${editPasswordDTO.newPassword}" class="form-control" type="password" id="floatingNewPassword" placeholder="Enter new password">
        <label for="floatingNewPassword">Enter new password</label>
        <p class="error" th:errors="${editPasswordDTO.newPassword}"></p>
    </div>
    <div class="form-floating w-25">
            <input th:field="${editPasswordDTO.confirmNewPassword}" class="form-control" id="floatingConfirmPassword" type="password" placeholder="Reenter new password">
            <label for="floatingConfirmPassword">Reenter new password</label>
        <p class="error" th:errors="${editPasswordDTO.confirmNewPassword}"></p>
    </div>
    <br>
    <th:block th:if="${message}">
        <br>
        <div style="border: thin black solid; width: 50%; spacing: 10px; padding: 10px;">
            <p class="message" th:text="${message}"></p>
        </div>
    </th:block>
    <br>
    <div class="form-group">
        <input type="submit" value="Update account" class="btn btn-success">
    </div>

</form>
</center>
</body>
</html>