<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Password reset: Part 1 of 2</title>
</head>
<body class="container">
<center>
    <h1>Password reset: Part 1 of 2</h1>
    <form method="post">
        <div class="form-group">
            <label>
                <input type="email" th:field="${resetEmailDTO.email}" name="email" id="email" placeholder="Email address" class="form-control">
            </label>
            <p class="error" th:errors="${resetEmailDTO.email}"></p>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Start reset process" />
        </div>
    </form>
</center>
</body>
</html>