<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: navigation"></header>

<table class="table table-borderless table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Clothing type</th>
            <th>Item location</th>
            <th>Color</th>
            <th>Size</th>
            <th>Season</th>
            <th>Date acquired</th>
        </tr>
    </thead>
    <tr th:each="item : ${items}">
        <td><a th:href="'/items/details?itemId=' + ${item.id}" th:text="${item.name}"></a></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.location}"></td>
        <td th:text="${item.color}"></td>
        <td th:text="${item.size}"></td>
        <td th:text="${item.season}"></td>
        <td th:text="${item.date}"></td>
    </tr>
</table>

</body>
</html>
