<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav>
    <header th:replace="fragments :: navigation"></header>
</nav>
<br>

<table class="table table-borderless table-hover " style="hover-color: #e3f2fd;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Clothing type</th>
            <th>Color</th>
            <th>Size</th>
            <th>Season</th>
            <th>Item Image</th>
        </tr>
    </thead>
    <tr th:each="item : ${items}">
        <td><a th:href="'/items/details?itemId=' + ${item.id}" th:text="${item.itemName}"></a></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.color.displayName}"></td>
        <td th:text="${item.size}"></td>
        <td> <ul>
            <li th:each= "season : ${item.season}" th:text="${season}"></li>
        </ul></td>
        <td> <img class="card-img-top" th:src="@{${item.imagePath}}" style="width:300px"></td>
    </tr>
</table>

</body>
</html>
