<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body class="container">
<center>
<h1><header th:text="${title}"></header></h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Item name
            <input class="form-control" th:field="${item.itemName}"/>
        </label>
        <p class="error" th:errors="${item.itemName}"></p>
    </div>
<!--    <div class="form-group">
        <label>Storage location
            <input readonly th:field="${item.location}" class="form-control" value="Closet"/>
        </label>
        <p class="error" th:errors="${item.location}"></p>
    </div>-->
    <div class="form-group">
        <label for="color">Select a color:</label>
        <select id="color" name="color">
            <option value="rgb">Primary</option>
            <option value="cmyk">Secondary</option>
            <option value="multi">Multi</option>
        </select>
        <p class="error" th:errors="${item.color}"></p>
    </div>
    <div class="form-group">
        <label>Item size
            <input th:field="${item.size}" class="form-control"/>
        </label>
        <p class="error" th:errors="${item.size}"></p>
    </div>
    <div class="form-group">
        <label for="seasons">Choose a season:</label>
        <select id="seasons" name="seasons">
            <option value="spring">Spring</option>
            <option value="summer">Summer</option>
            <option value="fall">Fall</option>
            <option value="winter">Winter</option>
        </select>
        <p class="error" th:errors="${item.season}"></p>
    </div>
    <div>
        <label > Image </label>
        <div class="form-group" >
            <input type="file" name="image" accept="image/png,image/jpg, image/jpeg" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create item" class="btn btn-success"/>
    </div>
</form>
</center>
</body>
</html>