<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body class="container">
<center>
<h1>Create Item</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Item name
            <input class="form-control" th:field="${item.itemName}"/>
        </label>
        <p class="error" th:errors="${item.itemName}"></p>
    </div>
    <div class="form-group">
        <label>Clothing Type
            <input th:field="${item.type}" class="form-control" value="type"/>
        </label>
        <p class="error" th:errors="${item.type}"></p>
    </div>
    <div class="form-group">
        <label for="color">Select a color:</label>
        <select id="color" name="color" th:field="${item.color}">
            <option th:each="color : ${T(org.launchcode.closettracker.models.Color).values()}"
                    th:value="${color}" th:text="${color.displayName}"></option>
        </select>
        <p class="error" th:errors="${item.color}"></p>
    </div>
    <div class="form-group">
        <label>Item size
            <input th:field="${item.size}" class="form-control"/>
        </label>
        <p class="error" th:errors="${item.size}"></p>
    </div>
    <div class="form-group">Choose a season:
        <label>Spring<input type = "checkbox" th:field="${item.season}" th:value="Spring"/></label>
        <label>Summer<input type = "checkbox" th:field="${item.season}" th:value="Summer"/></label>
        <label>Fall<input type = "checkbox" th:field="${item.season}" th:value="Fall"/></label>
        <label>Winter<input type = "checkbox" th:field="${item.season}" th:value="Winter"/></label>
        <p class="error" th:errors="${item.season}"></p>
    </div>
    <div>
        <label > Image </label>
        <div class="form-group" >
            <input type="file" name="image" accept="image/png,image/jpg, image/jpeg" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create item" class="btn btn-success"/>
    </div>
</form>
</center>
</body>
</html>