<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: navigation"></header>
<br>
<br>
<br>
<form method="post">

    <table class="table table-borderless table-hover">
        <thead>
        <tr>
            <th>Delete?</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="item : ${items}">
            <td><input type="checkbox" id="check" name="itemIds" th:value="${item.id}" class="form-check-input"/></td>
            <td><a th:href="'/items/details?itemId=' + ${item.id}" th:text="${item.itemName}"></a></td>
            <td> <img class="card-img-top" th:src="@{${item.imagePath}}" style="width:150px"></td>
    </table>
            <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>