<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: navigation"></header>
<br>
<br>
<br>
<form method="post">
    <div class="form-control">
        <th:block th:each="item : ${items}">
            <label>
                <span th:text="${item.itemName}"></span>
                <input type="checkbox" id="check" name="itemIds" th:value="${item.id}" class="form-check-input"/>
            </label>
        </th:block>
    </div>
    <br>
    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>