<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: navigation"></header>
<br>
    <br>
        <br>
            <br>
                <br>
<div class="row">
    <div class="column">
<table class="table table-borderless table-hover">

    <tr>
        <th>Name</th>
        <td th:text="${item.itemName}"></td>
    </tr>
        <tr>
        <th>Clothing type</th>
            <td th:text="${item.type}"></td>
        </tr>
        <!--<th>Item location</th>-->
    <tr>
        <th>Color</th>
        <td th:text="${item.color.displayName}"></td>
    </tr>
    <tr>
        <th>Size</th>
        <td th:text="${item.size}"></td>
    </tr>
    <tr>
        <th>Season</th>
        <td th:text="${item.season.displayName}"></td>
        </tr>
</table>
    </div>
    <div class="column">
        <table class="table table-borderless table-hover">
    <tr>
        <td class="zoom"> <img class="card-img-top" th:src="@{${item.imagePath}}" style="width:300px"></td>
    </tr>
        </table>
    </div>
</div>
<a th:href="'edit?itemId=' + ${item.id}"><button class="btn btn-success">Edit Item</button></a>

    </body>
</html>
